/* ************************************************************************************ 
                                      Styles

                                      Robert Rizo
                                      Lab 2
                                      Code Fellows

 ************************************************************************************ */


/* ************************************************************************************ 
                                      Big Styles

                                      All the styles for the bigger 
                                      structures in my page
                                      
 ************************************************************************************ */

 html {
  background-color: #010111;
  text-align: left;
  padding: 6%;

}

body {
  color: #ffe6e6;
  font-weight: 900;
  
}

header {
  display: none;
}

ul{
list-style-type: none;
}




/* ************************************************************************************ 
                                      Header specific Styles

                                      All the styles for the smaller 
                                      structures in my page
                                      
 ************************************************************************************ */
  #wrapperDiv{
    border: solid 3px rgba(250, 66, 66, 0.8);
    border-radius: 20px;
  }


 #welcomeHolder{
  height: 200px;
  padding: 10px;
  padding-right: 25px;
}


#list1Holder{
  height: 200px;
  width: 50%;
  display:block;
  float: left;
}

#list1HolderHeading{
  text-align: center;
  position: relative;
}

#list1HolderList{
  position: relative;
  text-align: center;
  list-style: inside;
}

#list2Holder{
  height: 200px;
  width: 50%;
  display:block;
  float: right;
}

#list2HolderHeading{
  text-align: center;
  position: relative;
}


#list2HolderList{
  position: relative;
  text-align: center;
  list-style: inside;
}

/* ************************************************************************************ 
                                      Heart decoration

                                      just extra, not using an image yet.

                                      I got the heart div from:

                                      https://www.hongkiat.com/blog/css-heart-shape/
                                      
 ************************************************************************************ */ 

 .gameDiv {
  margin: 0;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba(250, 66, 66, 0.8);

}

.gameDiv:before{
  position: absolute;
  bottom: 0px;
  left: -100px;
  width: 200px;
  height: 200px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color:rgba(250, 66, 66, 0.8);
}

.gameDiv:after{
  position: absolute;
  top: -100px;
  right: 0px;
  width: 200px;
  height: 200px;
  content: '';
   
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
 
  background-color:rgba(250, 66, 66, 0.8);
}

#gameDivHolder{
  height: 200px;
  width: 200px;

  float: left;
  margin-right: 40px;
}

/* ************************************************************************************ 
                                      Heart decoration 2

                                      a second one for the bottom of the page

                                      I got the heart div from:

                                      https://www.hongkiat.com/blog/css-heart-shape/
                                      
 ************************************************************************************ */ 

 .gameDiv1 {
  bottom: 0;
  right: 0;
  margin: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(250, 66, 66, 0.8);
  transform: rotate(-0deg);

}

.gameDiv1:before{
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color:rgba(250, 66, 66, 0.8);
  
}

.gameDiv1:after{
  position: absolute;
  bottom: -100px;
  right: 0px;
  width: 200px;
  height: 200px;
  content: '';
   
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
 
  background-color:rgba(250, 66, 66, 0.8);

  transform-origin: 0 100%;
}

#gameDivHolder1{
  position: relative;
  height: 300px;
  width: 200px;
  width: 30%;
  display:block;
  float: right;
  margin-bottom: 0;
}

 /* ************************************************************************************ 
                                      Main specific Styles

                                      All the styles for the smaller 
                                      structures in my page
                                      
 ************************************************************************************ */

main {
  display: none;
  text-align: center;
}


/* ************************************************************************************ 
                                      Welcome Div

                                      just extra, not using an image yet.
                                 
                                      The whole html doc has 10% padding around it,

                                      so to lower the hidden vid containing button 0

                                      i add margin on top of that.
 ************************************************************************************ */ 

 #hiddenDiv{
  text-align: center;

  }

  #button0 {
position: absolute;
margin-top: 10%;
cursor: pointer;
width: 100px;
    height: 90px;
    color: black;
    background-color: black;
    border-style: none;
    z-index: 2;
  }



  #button0:before,
  #button0:after {
    z-index: -2;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(250, 4, 4, 0.8);
    border: solid white 3px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #button0:after {
    z-index: -2;
    background: rgb(250, 4, 4, 0.8);
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-right: none;
    border-right: none;
  }
  
/* ************************************************************************************ 
                                      Game Styles
                                      
 ************************************************************************************ */ 

.question6{
  height: 200px;
  width: 50%;
  display:block;
  float: left;
  overflow: hidden;
}

#gameHeading1{
  line-height: 60px;
}

.question7{
  height: 200px;
  width: 50%;
  display:block;
  float: right;
  overflow: hidden;
}


#score {
  color: red;
  font-weight: bolder;
}



#scoreBoardHolder{


  position: fixed;
width: 8%;
  bottom: 20px;
  border-radius: 40px;

  border: solid 3px white;
}

 #gameBoard{
  text-align: center;
  height: 140px;
}

.question{
  width: 20%;
  float: left;
}

#gameBoard1{
  text-align: center;
}

.question2{
  
  width: 50%;
  float: left;
}





.button2 {
  z-index: 2;
  display: none;
}

.button3 {
  display: none;
}

.button4 {
  display: none;
}

#thatTextButton {
  display: none;
}

#resetButton {
  display: none;
}

button {
  border-radius: 50%;
  font-weight: bold;
  padding: 10px;
}


.statement{
  color: blueviolet;
}

.request{
  color: rgb(226, 110, 43);
}

/* ************************************************************************************ 
                                      Top 10 list styles

                                      
                                      
 ************************************************************************************ */

#top10Holder{
  height: 300px;

}

#top10{
  width: 70%;
  display:block;
  float: left;
text-align: justify;
}

#top10Heading{
  text-decoration: underline;
  padding-top: 10px;
  font-size: xx-large;
}